<form action="<%= users_url %>" method="post">
	<input type="hidden"
					name="authenticity_token"
					value="<%= form_authenticity_token %>">
	<h1>Sign Up</h1>
	<label for="email">Email:</label>
	<input id="email"
					name="user[email]"
					type="text"
	 				placeholder="user@example.com">
	<br />
	<label for="secret">Password:</label>
	<input id="secret"
					name="user[secret]"
					type="password">
	<br />
	<% if !!flash[:errors] %>
		<% flash[:errors].each do |error| %>
			<%= error%>
		<% end %>
	<% end %>
	<p><input type="submit" value="Sign Up"></p>
</form>