<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
	<input type="hidden"
					name="authenticity_token"
					value="<%= form_authenticity_token %>">
	<label for="email">Email:</label>
	<input id="email"
					name="user[email]"
					type="text"
	 				placeholder="user@example.com">
	<br />
	<label for="secret">Password:</label>
	<input id="secret"
					name="user[secret]"
					type="password">
	<br />
	<% if !!flash[:errors] %>
	<ul>
		<% flash[:errors].each do |error| %>
			<li><%= error%></li>
		<% end %>
	</ul>
	<% end %>
	<p><input type="submit" value="Sign Up"></p>
</form>